.codex/auth.json
.codex/internal_storage.json
.codex/history.jsonl
.codex/log/
.codex/sessions/
.codex/version.json
.codex/.codex-global-state.json
.codex/.personality_migration
.codex/archived_sessions/
.codex/models_cache.json
.codex/rules/
.codex/shell_snapshots/
.codex/skills/
.codex/sqlite/
.codex/tmp/
.codex/vendor_imports/
.codex/worktrees/

.mypy_cache/
.config/cagent/
.config/github-copilot/versions.json
.config/uv/
.config/github-copilot/apps.json
.config/fontforge/
.config/rclone/
.config/wandb/
*.swp
.DS_Store
.vim/.netrwhist
.vim/plugged/
.vim/view/
.tmux/
.config/github-copilot/hosts.json
.config/nvim/pack/
.config/configstore/
.config/menus/
.config/gh/
.config/coc/memos.json
node_modules/
.config/coc/*history*
.config/coc/mru
.config/coc/commands
.config/coc/snippets-mru
.config/coc/lists
.config/coc/suggest.txt
.config/coc/extensions/package.json
.config/coc/extensions/package-lock.json
.config/coc/extensions/coc-python-data
.config/coc/extensions/coc-texlab-data
.config/coc/extensions/db.json
.config/coc/extensions/coc-toml-data/
.config/coc/extensions/coc-json-data/
.config/karabiner/automatic_backups/
.config/gatsby
.config/Dadroit
.config/gtk*
.config/iterm2
