[user]
	name = Giulio Starace
	email = giulio.starace@gmail.com
[core]
	excludesfile = /Users/giulio.starace/git/.gitignore
	hooksPath = /Library/Application Support/OpenAI/Tools/PushPatrol/git-hooks
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs "ssh"]
	; https://github.com/git-lfs/git-lfs/issues/5784#issuecomment-2239826183
	autoMultiplex = false
[merge]
	tool = nvim
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE
[difftool]
	prompt = false
[diff "lfs"]
	textconv = cat
[alias]
	delete-local-merged = "!git fetch && git branch --merged | egrep -v 'master|dev|main|staging'  | xargs git branch -d"
[include]
	# for any custom things not meant for version control
	path = ~/.gitconfig.custom
