.DS_Store
.vim/.netrwhist
.vim/plugged/
.vim/view/
.tmux/
.config/configstore/
.config/menus/
.config/gh/
.config/coc/memos.json
node_modules/
.config/coc/*history*
.config/coc/mru
.config/coc/commands
.config/coc/snippets-mru
