.mypy_cache/
.config/uv/
.config/github-copilot/apps.json
.config/fontforge/
.config/rclone/
.config/wandb/
*.swp
.DS_Store
.vim/.netrwhist
.vim/plugged/
.vim/view/
.tmux/
.config/github-copilot/hosts.json
.config/nvim/pack/
.config/configstore/
.config/menus/
.config/gh/
.config/coc/memos.json
node_modules/
.config/coc/*history*
.config/coc/mru
.config/coc/commands
.config/coc/snippets-mru
.config/coc/lists
.config/coc/suggest.txt
.config/coc/extensions/coc-python-data
.config/coc/extensions/coc-texlab-data
.config/coc/extensions/db.json
.config/coc/extensions/coc-toml-data/
.config/coc/extensions/coc-json-data/
.config/karabiner/automatic_backups/
.config/gatsby
.config/Dadroit
.config/gtk*
.config/iterm2
